html {
    transition: font-size 0.2s ease-in-out;
}
@media (max-width: 1280px) {
    .custom-compact-table .fi-ta-cell {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .custom-compact-table .fi-ta-text-item, .custom-compact-table .fi-ta-text {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .custom-compact-table .fi-ta-header-cell {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }

    .fi-sidebar-nav {
        padding: 0.5rem !important;
    }
}
@media (min-width: 1280px) {
    .type-label { display: inline; }
}
@media (max-width: 1280px),(-webkit-min-device-pixel-ratio: 1.25),(-moz-min-device-pixel-ratio: 1.25),(-o-min-device-pixel-ratio: 1.25/1),(-ms-min-device-pixel-ratio: 125/100),(-webkit-min-resolution: 120dpi),(-moz-min-resolution: 120dpi),(-o-min-resolution: 120dpi),(-ms-min-resolution: 120dpi) {
    .type-label { display: none; }
}
@variant dark (&:where(.dark, .dark *));
